<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="jj.framework.data" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections>

  <jj.framework.data
    contextType="Memory"
    modelAssembly="JJ.Demos.Architecture.Data"
    mappingAssembly="JJ.Demos.Architecture.Data.Memory">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Demos.Architecture.Data</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.data>
</configuration>